#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  padding: 3em 5em;
  margin-top: 10em;
  gap: 5px;
  border-radius: 40px;
  background: var(--base-background);
  box-shadow:  10px 10px 20px var(--shadow-first),
  -10px -10px 20px var(--shadow-second);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: baseline;
}

.actions a {
  font-size: 0.8em;
}

p .error-hint {
  margin-top: 0;
}
